
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'didact-reg';
    src: url(../fonts/DidactGothic-Regular.ttf);
}

html {
    background-color: #24272F;
    font-family: 'didact-reg';
    font-size: 24px;
}

h1 {
    background-color: dimgrey;
    text-align: center;
    padding: 3vh 0;
}

section {
    display: block;
    margin: 3vh auto;
    width: 300px;
    text-align: center;
    color: dimgrey;
}

section form {
    border: 3px solid dimgrey;
    height: 150px;
}

section form h2 {
    padding: 2vh 0;
}

section #rounds {
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

section .score {
    border: 3px solid dimgrey;
    margin: 2vh 0;
    padding: 4vh 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

section .score #user {
    position: relative;
    left: -30px;
    background: firebrick;
    color: white;
    padding: 5px;
    font-size: 24px;
}

section .score #comp {
    position: relative;
    right: -30px;
    background: firebrick;
    color: white;
    padding: 5px;
    font-size: 24px;
}

section .icon-buttons p{
    font-size: 18px;
    padding: 3vh 0;
}

section a {
    font-size: 18px;
    text-decoration: none;
    color: dimgrey;
}

#roundScore {
    border: 3px solid dimgrey;
    width: 300px;
    height: 150px;
    display: none;
    align-items: center;
    justify-content: center;
}

#resultTextform {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-buttons img{
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 0 10px;
    border: 3px solid dimgrey;
    border-radius: 40px;
    animation-name: pulsatingColorRed;
    animation-name: pulsatingColorGreen;
    animation-name: pulsatingColorGrey;
}

@keyframes pulsatingColorRed{
    0% {background-color: none;}
    50% {background-color: firebrick;}
    100% {background-color: none;}
}

@keyframes pulsatingColorGreen{
    0% {background-color: none;}
    50% {background-color: green;}
    100% {background-color: none;}
}

@keyframes pulsatingColorGrey{
    0% {background-color: none;}
    50% {background-color: grey;}
    100% {background-color: none;}
}